
header {
  margin: 0 auto;
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border: 1px solid red;
  background-color: rgb(251, 211, 218);
}

nav {
  border: 1px solid pink;
}

a {
  border-left: 1px solid red;
}

header > a {
  padding: 0 10px;
  color: white;
  background-color: red;
}

nav > a {
  padding: 10px 20px;
  color: red;
  border-left: 1px solid red;
}

nav > a:nth-child(1) {
  background-color: aqua;
}