*{
  box-sizing: border-box;
}

.one {
justify-content: flex-start;
flex-direction: column;
border: 1px solid red;
width: 200px;
}

.two {
  justify-content: center;
  flex-direction: column;
  border: 1px solid red;
  width: 200px;
  }

.three {
  align-self: flex-end;
  flex-direction: column;
  border: 1px solid red;
  width: 200px;
  }