<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/layout/layout_1/style.css">
</head>
<body>
  <main class="main">

    <section class="container"> 
      <nav class="navigation">
      <h1>Nav</h1>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Clients</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
      </nav>
  
      <section class="main-content">
        <h1>Main Content</h1>
        <p class="p-bold">I'm first in the source order.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro amet aliquam sint error tempore blanditiis consectetur, vel voluptatum asperiores veniam nisi placeat ea perspiciatis laborum modi? Tempore quasi autem provident!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, reprehenderit vitae facilis, placeat quos similique sint aut excepturi suscipit commodi porro earum adipisci maxime velit hic pariatur atque. Ullam, eveniet.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, reprehenderit vitae facilis, placeat quos similique sint aut excepturi suscipit commodi porro earum adipisci maxime velit hic pariatur atque. Ullam, eveniet.</p>
        <p class="copyright">Copyright C 2017</p>
      </section>
  
      <aside class="sidebar">
        <h1>Sidebar</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis veniam harum, animi aspernatur perspiciatis laborum esse et dignissimos ullam quaerat amet quas in ea perferendis illum quibusdam reprehenderit? Molestiae, labore!</p>
      </aside>
    </section>
    </main>
  
</body>
</html>