a {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
}

.main {
  position: relative;
  display: flex;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 800px;
  height: 60px;
  background-color: pink;
}

.nav-item {
  border-left: 1px solid red;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.nav-item-left {
  text-align: center;
  width: 200px;
}